<div class="container">
    <div class="row">
        <!-- CARDS DE Pokemons -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" *ngFor="let p of pokemons; let i =index">
            <div class="card" >
                <img class="card-img-top cursor-pointer" src="{{p.image}}" alt="{{p.name}}" height="200px">
                <div class="card-body">
                    <h4 class="card-title ">{{p.name}}</h4>
                    <p class="card-text">Teste1</p>
                    <p><a>Ver mais...</a></p>
                </div>
                <div class="card-footer">
                    <span>{{p.baseStats}}, {{p.evolution}}</span>
                </div>
            </div>
        </div>
    </div>
</div>