<div class="container">
    <div class="row">
        <!-- CARDS DE Pokemons -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3" *ngFor="let p of pokemons; let i =index">
            <div class="card" >
                <img class="card-img-top cursor-pointer" src="{{p.image}}" alt="{{p.name}}" height="200px">
                <div class="card-body">
                    <h4 class="card-title">#{{p.number}} - {{p.name}}</h4>
                    <p class="card-text">{{p.desc}}</p>
                </div>
                <div class="card-footer justify-content-center">
                    <div class="col-md-auto justify-content-center"><span [ngClass]='getTipo(p.type[0])'>{{p.type[0].name}}</span><span *ngIf="p.type.length > 1" [ngClass]='getTipo(p.type[1])'> {{p.type[1].name}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>