.card{
    margin: 5px 5px;
}

.card-title{
    font-size: 20px;
    height: 50px;
}

.card-text{
    overflow: hidden;
    height: 100px;
}

thead tr th,tbody tr td{
    text-align: center;
}

tbody tr td img{
    height: 50px;
    width: 50px;
}