.card{
    margin: 5px 5px;
}

.card-title{
    font-size: 20px;
    height: 50px;
}

.card-text{
    overflow: hidden;
    height: 100px;
}

th{
    padding: 6px 10px;
    background-color: #e7e7e0;
    background-image: -webkit-linear-gradient(rgba(180, 180, 180, 0.64),rgba(110, 110, 110, 0.36));
    background-image: linear-gradient(rgba(180, 180, 180, 0.64),rgba(110, 110, 110, 0.36));
    border: rgba(110, 110, 110, 0.36);
    border-width: 1px;
    text-align: left;
    white-space: nowrap;
    color: #000;
}

thead tr th,tbody tr td{
    text-align: center;
}

tbody tr td img{
    height: 50px;
    width: 50px;
}