@font-face{
    font-family: Pokemon;
    src: url('app/pokemons/fonts/Pokemon.ttf')
}

.card-title{
    font-size: 20px;
}

.fire{
    padding: 5px 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: Pokemon;
    text-shadow: 1px 1px #000;
    color: #FFF;
    background-color: orangered;
}

.water{
    padding: 5px 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: Pokemon;
    text-shadow: 1px 1px #000;
    color: #FFF;
    background-color: blue;
}

.grass{
    padding: 5px 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: Pokemon;
    text-shadow: 1px 1px #000;
    color: #FFF;
    background-color: green;
}

.poison{
    padding: 5px 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: Pokemon;
    text-shadow: 1px 1px #000;
    color: #FFF;
    background-color: purple;
}

.bug{
    padding: 5px 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: Pokemon;
    text-shadow: 1px 1px #000;
    color: #FFF;
    background-color: #8b8b00;
}

.flying{
    padding: 5px 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: Pokemon;
    text-shadow: 1px 1px #000;
    color: #FFF;
    background-color: #009acd;
}

.normal{
    padding: 5px 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: Pokemon;
    text-shadow: 1px 1px #000;
    color: #FFF;
    background-color: #8b6914;
}

.eletric{
    padding: 5px 5px;
    margin: 5px;
    border: solid 1px #000;
    border-radius: 10px;
    font-family: Pokemon;
    text-shadow: 1px 1px #000;
    color: #FFF;
    background-color: #eec900;
}